/*-- General Styles --*/

// Fonts

@font-face {
    font-family: pt-sans;
    src: url(../resources/PT_Sans-Web-Regular.ttf);
}

@font-face {
    font-family: pt-sans-bold;
    src: url(../resources/PT_Sans-Web-Bold.ttf);
}

// Colors

$bestBuyBlue: #2c7dc9;

// Animations

@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(135deg); }
}

@keyframes rotateBack {
	0% { transform: rotate(135deg); }
	100% { transform: rotate(0deg); }
}

@keyframes social {
	0% { width: 5.4em; margin: 0 .4em; }
	99% { width: 5.4em; margin: 0 .4em; }
	100% { width: 0em; margin: 0; }
}

@keyframes socialBack {
	0% { width: 0em; margin: 0em; }
	99% { width: 0em; margin: 0em; }
	100% { width: 5.4em; margin: 0 .4em; }
}

.container {
	width: 100%;
	position: absolute;
	font-size: 1vw;
	height: 56.3em;
	background-color: white;

	* {
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		font-family: pt-sans, sans-serif;
	}
}